.hero_section{
    width: 100%;
    height: 90vh;
    background-color: #FEF6F4;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.hero_section .dessert_img{
    width: 400px;
    height: 100vh;
    background : #4e413d;
    margin-left: 22rem;
    border-radius: 100% 0px 0px 100%;
    background-image: url("/assets/images/hero-dessert.jpg");
    background-position: center;
    background-size: cover;
}

.hero_section h1{
    position: relative;
    z-index: 2;
}

.animated_text{
    position: absolute;
    font-family: "Lobster", serif;
    top: 10px;
    color : #FDECE6;
    font-size: 10rem;
}

.contact-footer {
    padding: 40px 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 300px;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-top: 4px;
    outline: none;
}

.input-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 140px;
    outline: none;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

textarea, input[type="text"], input[type="email"] {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.send-button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

button:hover {
    background-color: #e9645b;
}

.contact-info {
    font-size: 16px;
    line-height: 1.5;
    margin-right: 25px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info i {
    color: #ff6f61;
    margin-right: 10px;
}
